# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv.old/
env/
ENV/
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# 환경변수
.env
.env.*
*.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# 백업
*.old
*.backup
